.tf-container {
    max-width: 1320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

// button
.tf-btn {
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.tf-btn.accent {
    background-color: $primary_color;
    border: 1px solid $primary_color;
    color: $white_color;
    &:hover {
        color: $primary_color;
        border-color: $primary_color;
        background-color: $white_color;
    }
}
.tf-btn.outline {
    color: $primary_color;
    border:1px solid $primary_color;
    background-color: $white_color;
    &:hover {
        background-color: $primary_color;
        border: 1px solid $primary_color;
        color: $white_color;
    }
}
.tf-btn.light {
    color: $light_color;
    background-color: $bg_light_color;
    &:hover {
        background-color: $primary_color;
        color: $white_color;
    }
}

.tf-btn.large {
    padding: 12px 40px;
}
.tf-btn.medium {
    padding: 10px 40px;
}

.tf-btn.small {
    padding: 7px 40px;
}
// title
.tf-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
}
// line
.line {
    display: block;
    width: 134px;
    height: 5px;
    border-radius: 100px;
    background: $line_color;
    margin: 0 auto;
}

// form auth
// form
.tf-form {
    .tf-title {
        margin-top: 20px;
        margin-bottom: 28px;
    }
    // input {
    //     margin-bottom: 24px;
    // }
    .group-input {
        position: relative;

        label {
            position: absolute;
            top: -11px;
            background-color: #ffff;
            padding: 0px 5px;
            left: 12px;
        }
    }
    .auth-pass-input {
        .password-addon {
            position: absolute;
            right: 30px;
            top: 14px;
        }
    }
    .auth-forgot-password {
        margin-top: -12px;
        color: $secondary_color;
        font-size: 12px;
        line-height: 20px;
    }
    .btn-large {
        margin-top: 28px;
    }
}
.tf-form-verify {
    .tf-title {
        font-size: 16px;
        line-height: 24px;
    }
    .group-input-verify {
        margin: 28px 0px 12px;
        justify-content: center;

        .input-verify {
            display: block;
            width: 58px;
            height: 58px;
            margin-right: 12px;
            text-align: center;
            font-size: 22px;
            line-height: 30px;
            font-weight: 600;
            &:last-child {
                margin-right: 0;
            }
            &:focus {
                border-color: $on_surface_color;
            }
        }
    }
    .text-send-code {
        margin-bottom: 204px;
        text-align: center;
        font-size: 14px;
        line-height: 22px;
        a {
            color: $primary_color;
            font-weight: 700;
        }
    }
}
// tf-wallet-card
.tf-wallet-card {
    padding: 12px 0px;
    background-color: $white_color;
    border-radius: 15px;
    box-shadow: $tf_shadow;

    .balance {
        padding: 0px 16px 8px;
        border-bottom: 1px solid $line_br_color;

        p {
            font-weight: 500;
        }
        .br-right {
            border-right: 1px solid $line_br_color;
        }
        .inner-left {
            font-size: 16px;
            line-height: 24px;
            font-weight: 700;
        }
        .inner-right {
            text-align: end;
            h3 {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                font-size: 14px;
                font-weight: 700;
                line-height: 22px;
                .icon-gift-box {
                    display: inline-flex;
                    margin-right: 4px;
                }
                span {
                    margin-left: 2px;
                    font-size: 12px;
                    line-height: 20px;
                    font-weight: 500;
                    color: $secondary_color;
                }
            }
        }
    }

    .wallet-footer {
        margin-top: 12px;
    }
}
