.tf-container {
    max-width: 1320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

// button
.tf-btn {
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.tf-btn.accent {
    background-color: $primary_color;
    border: 1px solid $primary_color;
    color: $white_color;
    &:hover {
        color: $primary_color;
        border-color: $primary_color;
        background-color: $white_color;
    }
}
.tf-btn.outline {
    color: $primary_color;
    border: 1px solid $primary_color;
    background-color: $white_color;
    &:hover {
        background-color: $primary_color;
        border: 1px solid $primary_color;
        color: $white_color;
    }
}
.tf-btn.light {
    color: $light_color;
    background-color: $bg_light_color;
    &:hover {
        background-color: $primary_color;
        color: $white_color;
    }
}

.tf-btn.large {
    padding: 12px 40px;
}
.tf-btn.medium {
    padding: 10px 40px;
}

.tf-btn.small {
    padding: 7px 40px;
}
// title
.tf-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
}
// line
.line {
    display: block;
    width: 134px;
    height: 5px;
    border-radius: 100px;
    background: $line_color;
    margin: 0 auto;
}

// form auth
// form
.tf-form {
    .tf-title {
        margin-top: 20px;
        margin-bottom: 28px;
    }

    .group-input {
        // width: 100%;
        position: relative;

        label {
            position: absolute;
            top: -11px;
            background-color: #ffff;
            padding: 0px 5px;
            left: 12px;
        }
    }
    .auth-pass-input {
        .password-addon {
            position: absolute;
            right: 30px;
            top: 14px;
        }
    }
    .auth-forgot-password {
        margin-top: -12px;
        color: $secondary_color;
        font-size: 12px;
        line-height: 20px;
    }
    .btn-large {
        margin-top: 28px;
    }
}
.tf-form-verify {
    .tf-title {
        font-size: 16px;
        line-height: 24px;
    }
    .group-input-verify {
        margin: 28px 0px 12px;
        justify-content: center;

        .input-verify {
            display: block;
            width: 58px;
            height: 58px;
            margin-right: 12px;
            text-align: center;
            font-size: 22px;
            line-height: 30px;
            font-weight: 600;
            &:last-child {
                margin-right: 0;
            }
            &:focus {
                border-color: $on_surface_color;
            }
        }
    }
    .text-send-code {
        margin-bottom: 204px;
        text-align: center;
        font-size: 14px;
        line-height: 22px;
        box-select {
            color: $primary_color;
            font-weight: 700;
        }
    }
}
// tf-wallet-card
.tf-wallet-card {
    padding: 12px 0px;
    background-color: $white_color;
    border-radius: 15px;
    box-shadow: $tf_shadow;

    .balance {
        padding: 0px 16px 8px;
        border-bottom: 1px solid $line_br_color;

        .br-right {
            border-right: 1px solid $line_br_color;
        }

        .inner-right {
            text-align: end;
            h3 {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                .icon-gift-box {
                    display: inline-flex;
                    margin-right: 4px;
                }
                span {
                    margin-left: 2px;
                    font-size: 12px;
                    line-height: 20px;
                    font-weight: 500;
                    color: $secondary_color;
                }
            }
        }
    }

    .wallet-footer {
        margin-top: 12px;
        .wallet-cart-item {
            width: 25%;
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                .icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 40px;
                }
                .icon-my-qr {
                    font-size: 33px;
                }
            }
        }
    }
}
// custom icons
.icon-history {
    border: 1px solid $secondary_color;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    display: inline-flex;

    &::after {
        content: "\eae7";
        left: -6px;
        position: absolute;
        top: -5px;
        font-size: 29px;
        color: $secondary_color;
    }
}

.icon-scan-qr-code {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: $on_surface_color;
    border-radius: 50%;
    &::before {
        content: "\ea7d";
        color: $white_color;
        font-size: 20px;
    }
}
.tf-navigation-bar {
    box-shadow: $tf-navigation-bar_shadow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;

    li {
        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2px;
            font-size: 10px;
            line-height: 16px;
        }
        &.active {
            a {
                color: $on_surface_color;

                .icon-history {
                    border-color: $primary_color;
                    background: $primary_color;
                    &::after {
                        color: $white_color;
                    }
                }
                i {
                    color: $primary_color;
                }
            }
        }
    }
}
.bottom-navigation-bar {
    .line {
        margin: 4px auto 8px;
    }
}

// tf-search bar
.tf-search-bar {
    position: relative;

    .search-field {
        padding-left: 40px;
        background: $surface_color;
        border-color: $line_br_color;
        &:focus {
            border-color: $line_br_color;
        }
        &:valid ~ .icon-clear {
            display: block;
        }
    }
    .st1 {
        padding-left: 14px;
        background: none;
        border-color: $line_color;
        &:focus {
            border-color: $primary_color;
        }
    }
    .icon-search {
        position: absolute;
        font-size: 25px;
        left: 9px;
        top: 10px;
        color: $on_surface_color;
    }
    .icon-clear {
        display: none;
        position: absolute;
        top: 14px;
        font-size: 18px;
        right: 14px;
        color: $secondary2_color;
    }
}

// tf-statusbar
.tf-statusbar {
    padding: 8px 16px;
    border-bottom: 1px solid $line_br_color;
    .icon-left {
        color: $on_surface_color;
    }
}
.icon-notification1 {
    color: $on_surface_color;
    position: relative;
    &::after {
        position: absolute;
        content: "2";
        font-size: 6px;
        color: $white_color;
        width: 8px;
        text-align: center;
        height: 8px;
        background: $critical_color;
        border-radius: 50%;
        right: 3px;
        top: 3px;
    }
}
//tf-trading-history
.tf-trading-history {
    .inner-left {
        gap: 8px;

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }
}
.thumb-trading-history {
    width: 40px;
    height: 40px;
    background: $rgba_primary_color;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon-electricity-1 {
        color: $primary_color;
        font-size: 24px;
    }
}
.group-trading-history {
    .tf-trading-history {
        margin-bottom: 28px;
    }
}

//custom select
.box-custom-select {
    .default-select {
        display: none;
    }

    #box-select {
        padding-left: 0px;
    }

    #box-select img,
    .btn-select img {
        width: 28px;
        height: 28px;
    }

    #box-select li {
        list-style: none;
        font-size: 14px;
        font-weight: 500;
        color: $on_surface_color;
        padding: 13px 14px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        position: relative;
        &:hover {
            background-color: $secondary3_color;
        }
    }

    #box-select li span,
    .btn-select li span {
        margin-left: 16px;
    }

    .banks-select {
        display: none;
        border: 1px solid $line_color;
        border-radius: 5px;
    }

    .open {
        display: show !important;
    }

    .btn-select {
        width: 100%;
    }

    .lang-select {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        font-size: 14px;
        font-weight: 500;
        border: 1px solid $line_color;
        color: #1e1e1e;
        padding: 8px 14px;
        border-radius: 8px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
}

.group-input {
    .credit-card {
        position: absolute;
        display: flex;
        align-items: center;
        gap: 4px;
        top: 12px;
        right: 14px;
        color: $primary_color;
        font-size: 10px;
        line-height: 16px;
        i {
            font-size: 20px;
        }
    }

    .icon-info {
        position: absolute;
        right: 12px;
        top: 14px;
        font-size: 20px;
        color: $secondary2_color;
    }
}
