.login-section {
    .tf-form-auth {
        margin-bottom: 71px;
    }

    .auth-line {
       
    }

    // login with social
    .socials-login {
        li {
            padding: 13px 0px;
            border: 1px solid $line_color;
            border-radius: 12px;
            &:not(:last-child) {
                margin-bottom: 12px;
            }
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8px;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}

.verify-account-section {
    .verify-title {
        text-align: center;
        margin: 32px 0px 34px;
        p {
            padding: 0px 35px;
        }
    }
}
