.header-repicient {
    .tf-statusbar {
        a {
            position: unset;

            i {
                font-size: 24px;
                color: $on_surface_color;
            }
        }
    }
}
.box-user {
    .avatar {
        width: 96px;
        height: 96px;
        // overflow: hidden;
        border-radius: 50%;
        position: relative;
        display: flex;
        span {
            position: absolute;
            top: 60px;
            right: -5px;
            width: 24px;
            height: 24px;
            font-size: 24px ;
            background: $secondary_color;
            border-radius: 50%;
            color: $white_color;

        }
    }
}
