.header-transfer {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}
.wrap-transfer {
    background: $white_color;
}

.action-sheet-transfer {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 0px;
    border-bottom: 1px solid $line_br_color;

    .icon {
        width: 36px;
        height: 36px;
        background: $rgba_transfer_color;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            font-size: 20px;
            color: $primary_color;
        }
    }

    p {
        font-size: 10px;
        line-height: 16px;
    }
}

.wrap-transfer-friends {
    .tf-search-bar {
        margin-bottom: 20px;
    }
    .top {
        background: $white_color;
        z-index: 20;
        position: fixed;
        top: 45px;
        width: 100%;
        padding-top: 12px;
    }

    .menu-tabs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 20px;

        .nav-tab {
            border-bottom: 1px solid $line_br_color;
            padding: 8px 0px;
            text-align: center;
            cursor: pointer;
            &.active {
                color: $primary_color;
                border-bottom: 2px solid $primary_color;
            }
        }
    }

    .content-tab {
        padding-top: 180px;
        // height: 80vh;
        // overflow-y: scroll;
    }
}

.recipient-list {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 12px;

    .inner {
        display: flex;
        align-items: center;
        gap: 8px;
        flex: 1;
        border-bottom: 1px solid $line_br_color;
        padding-bottom: 12px;

        img {
            width: 48px;
            height: 48px;
            border-radius: 50%;
        }
    }

    .alphabet {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 12px;
    }
}

.wrap-transfer-card {
    .input-money {
        padding: 16px;

        .inner-left {
            gap: 8px;
            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
            }
            
        }
        .icon-down {
            font-size: 16px;
        }
    }
}
