// color
$primary_color: #533dea;
$on_surface_color: #1e1e1e;
$secondary_color: #717171;
$secondary2_color: #c5c5c5;
$secondary3_color: #c5c5c5;
$line_color: #dddddd;
$line_br_color:#EDEDED;
$surface_color: #f5f5f5;
$warning_color: #f2c71c;
$success_color: #44b461;
$critical_color: #ea3434;
$white_color: #FFFFFF;


$tf_shadow: 0px 8px 15px 0px rgba(24, 25, 27, 0.05);