html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
caption,
canvas,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
form,
footer,
header,
hgroup,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
tt,
table,
tbody,
textarea,
tfoot,
thead,
time,
tr,
th,
td,
u,
ul,
var,
video {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  quotes: none;
}

figure {
  margin: 0;
}

:focus {
  outline: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

legend {
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  max-width: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button,
input {
  line-height: normal;
}

input,
textarea {
  background-image: -webkit-linear-gradient(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0));
  /* Removing the inner shadow, rounded corners on iOS inputs */
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  line-height: 1;
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
  border: none;
}

input[type=checkbox],
input[type=radio] {
  padding: 0;
  /* Addresses excess padding in IE8/9 */
}

input[type=search] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */
}

input[type=search]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}

label {
  font-size: 12px;
  line-height: 20px;
  font-weight: 500px;
  color: #717171;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Repeatable Patterns
  -------------------------------------------------------------- */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #1e1e1e;
  overflow: hidden;
}

a {
  color: #1e1e1e;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

ul,
ol {
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

b,
strong {
  font-weight: 900;
}

h1 {
  font-size: 56px;
  line-height: 68px;
}

h2 {
  font-size: 44px;
  line-height: 50px;
}

h3 {
  font-size: 24px;
  line-height: 30px;
}

h4 {
  font-size: 20px;
  line-height: 28px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: #1e1e1e;
}

p {
  font-size: 12px;
  line-height: 20px;
  color: #717171;
}

button {
  border: none;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  font-size: 12px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  color: #202020;
  background-color: transparent;
  text-transform: uppercase;
  border-width: 1px;
  border-style: solid;
  border-color: #202020;
  padding: 7px 21px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

select,
textarea,
input[type=text],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=color] {
  width: 100%;
  font-size: 14px;
  border: 1px solid #dddddd;
  color: #1e1e1e;
  background-color: transparent;
  height: 44px;
  padding: 11px 14px;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

textarea:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=time]:focus,
input[type=week]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=color]:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #533dea;
}

textarea {
  width: 100%;
  height: 166px;
  padding: 15px 30px;
}

input[type=checkbox] {
  display: inline;
}

textarea:-moz-placeholder,
textarea::-moz-placeholder,
input:-moz-placeholder,
input::-moz-placeholder {
  color: #c5c5c5;
  opacity: 1;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

input:-ms-input-placeholder {
  color: #c5c5c5;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  color: #c5c5c5;
  opacity: 1;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

/* bootstrap resetting elements */
.btn {
  background-image: none;
}

textarea,
input[type=text],
input[type=submit],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=color],
.uneditable-input,
.dropdown-menu,
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  -webkit-appearance: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.tf-container {
  padding-left: 16px;
  padding-right: 16px;
}

.btn-large {
  width: 100%;
  height: 48px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  background-color: #533dea;
  border: 1px solid #533dea;
  color: #FFFFFF;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.tf-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}

.line {
  display: block;
  width: 134px;
  height: 5px;
  border-radius: 100px;
  background: #dddddd;
  margin: 0 auto;
}

.tf-form-auth .tf-title {
  margin-top: 20px;
  margin-bottom: 28px;
}
.tf-form-auth input {
  margin-bottom: 24px;
}
.tf-form-auth .group-input {
  position: relative;
}
.tf-form-auth .group-input label {
  position: absolute;
  top: -11px;
  background-color: white;
  padding: 0px 7px;
  left: 18px;
}
.tf-form-auth .auth-pass-input .password-addon {
  position: absolute;
  right: 30px;
  top: 14px;
}
.tf-form-auth .auth-forgot-password {
  margin-top: -12px;
  color: #717171;
  font-size: 12px;
  line-height: 20px;
}
.tf-form-auth .btn-large {
  margin-top: 28px;
}

.tf-form-verify .tf-title {
  font-size: 16px;
  line-height: 24px;
}
.tf-form-verify .group-input-verify {
  margin: 28px 0px 12px;
  justify-content: center;
}
.tf-form-verify .group-input-verify .input-verify {
  display: block;
  width: 58px;
  height: 58px;
  margin-right: 12px;
  text-align: center;
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
}
.tf-form-verify .group-input-verify .input-verify:last-child {
  margin-right: 0;
}
.tf-form-verify .group-input-verify .input-verify:focus {
  border-color: #1e1e1e;
}
.tf-form-verify .text-send-code {
  margin-bottom: 204px;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
}
.tf-form-verify .text-send-code a {
  color: #533dea;
  font-weight: 700;
}

.tf-wallet-card {
  padding: 12px 0px;
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0px 8px 15px 0px rgba(24, 25, 27, 0.05);
}
.tf-wallet-card .balance {
  padding: 0px 16px 8px;
  border-bottom: 1px solid #EDEDED;
}
.tf-wallet-card .balance p {
  font-weight: 500;
}
.tf-wallet-card .balance .br-right {
  border-right: 1px solid #EDEDED;
}
.tf-wallet-card .balance .inner-left {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}
.tf-wallet-card .balance .inner-right {
  text-align: end;
}
.tf-wallet-card .balance .inner-right h3 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
}
.tf-wallet-card .balance .inner-right h3 .icon-gift-box {
  display: inline-flex;
  margin-right: 4px;
}
.tf-wallet-card .balance .inner-right h3 span {
  margin-left: 2px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  color: #717171;
}

.boarding-section {
  background: #1e1e1e;
  min-height: 394px;
  margin: 0 -45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 300px;
  border-bottom-right-radius: 300px;
}
.boarding-section .images img {
  width: 307px;
  height: 265px;
}

.boarding-section.st2 {
  position: relative;
}
.boarding-section.st2 .images {
  position: relative;
  z-index: 1;
  margin-left: 90px;
}
.boarding-section.st2::after {
  content: "";
  position: absolute;
  height: 215px;
  bottom: 0;
  width: 100%;
  background-color: #533dea;
  border-radius: 50%;
}

.boarding-section.st3 {
  position: relative;
}
.boarding-section.st3 .images {
  position: relative;
  z-index: 1;
}
.boarding-section.st3 .images img {
  width: 375px;
  height: 320px;
}
.boarding-section.st3::after {
  content: "";
  position: absolute;
  height: 215px;
  bottom: 0;
  width: 100%;
  background-color: #533dea;
  border-radius: 50%;
  transform: skew(-14deg, 8deg);
}

.boarding-content {
  padding: 40px 0px;
}
.boarding-content .boarding-title {
  text-align: center;
  padding-bottom: 91px;
}
.boarding-content .boarding-title h2 {
  margin-bottom: 16px;
}
.boarding-content .boarding-title p {
  padding: 0 30px;
}

.boarding-footer {
  padding-bottom: 24px;
}
.boarding-footer p {
  text-align: center;
  padding: 0px 50px 11px;
}
.boarding-footer p a {
  font-weight: 700;
}

.login-section .tf-form-auth {
  margin-bottom: 71px;
}
.login-section .auth-line {
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.login-section .auth-line::before {
  content: "";
  position: absolute;
  left: 0;
  height: 1px;
  width: 40%;
  background-color: #dddddd;
}
.login-section .auth-line::after {
  content: "";
  position: absolute;
  right: 0;
  height: 1px;
  width: 40%;
  background-color: #dddddd;
}
.login-section .socials-login li {
  padding: 13px 0px;
  border: 1px solid #dddddd;
  border-radius: 12px;
}
.login-section .socials-login li:not(:last-child) {
  margin-bottom: 12px;
}
.login-section .socials-login li a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.login-section .socials-login li a img {
  width: 20px;
  height: 20px;
}

.verify-account-section .verify-title {
  text-align: center;
  margin: 32px 0px 34px;
}
.verify-account-section .verify-title p {
  padding: 0px 35px;
}

/*# sourceMappingURL=styles.css.map */
