.primary_color {
  color: #533dea;
}

.on_surface_color {
  color: #1e1e1e;
}

.secondary_color {
  color: #717171;
}

.secondary2_color {
  color: #c5c5c5;
}

.secondary3_color {
  color: #f8f8f8;
}

.line_color {
  color: #dddddd;
}

.line_br_color {
  color: #ededed;
}

.surface_color {
  color: #f5f5f5;
}

.warning_color {
  color: #f2c71c;
}

.success_color {
  color: #44b461;
}

.critical_color {
  color: #ea3434;
}

.white_color {
  color: #ffffff;
}

.tf_shadow {
  box-shadow: 0px 8px 15px 0px rgba(24, 25, 27, 0.05);
}

.fw_3 {
  font-weight: 300;
}

.fw_4 {
  font-weight: 400;
}

.fw_5 {
  font-weight: 500;
}

.fw_6 {
  font-weight: 600;
}

.fw_7 {
  font-weight: 700;
}

.fw_8 {
  font-weight: 800;
}

.bg_white_color {
  background-color: #ffffff;
}

.bg_surface_color {
  background: #f5f5f5;
}

.bg_color_1 {
  background: rgba(40, 62, 180, 0.1);
}

.bg_color_2 {
  background: rgba(5, 132, 255, 0.1);
}

.bg_color_3 {
  background: rgba(0, 170, 91, 0.1);
}

.bg_color_4 {
  background: rgba(242, 195, 28, 0.1);
}

.bg_color_5 {
  background: rgba(245, 149, 0, 0.1);
}

.bg_color_6 {
  background: rgba(57, 163, 248, 0.1);
}

.bg_color_7 {
  background: rgba(229, 53, 75, 0.1);
}

.bg_color_8 {
  background: rgba(252, 184, 96, 0.1);
}

html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
caption,
canvas,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
form,
footer,
header,
hgroup,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
tt,
table,
tbody,
textarea,
tfoot,
thead,
time,
tr,
th,
td,
u,
ul,
var,
video {
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  quotes: none;
}

figure {
  margin: 0;
}

:focus {
  outline: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

legend {
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  max-width: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button,
input {
  line-height: normal;
}

input,
textarea {
  background-image: -webkit-linear-gradient(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0));
  /* Removing the inner shadow, rounded corners on iOS inputs */
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  line-height: 1;
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
  border: none;
}

input[type=checkbox],
input[type=radio] {
  padding: 0;
  /* Addresses excess padding in IE8/9 */
}

input[type=search] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */
}

input[type=search]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}

label {
  margin-bottom: 5px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Repeatable Patterns
  -------------------------------------------------------------- */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 12px/20px "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  background-color: #ffffff;
  color: #717171;
  overflow: hidden;
}

a {
  color: #1e1e1e;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
  color: #533dea;
  text-decoration: none;
  outline: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

ul,
ol {
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

b,
strong {
  font-weight: 900;
}

h1 {
  font-size: 32px;
  line-height: 40px;
}

h2 {
  font-size: 18px;
  line-height: 26px;
}

h3 {
  font-size: 16px;
  line-height: 24px;
}

h4 {
  font-size: 14px;
  line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: #1e1e1e;
}

button {
  border: none;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  width: 100%;
  padding: 12px 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  background-color: #533dea;
  border: 1px solid #533dea;
  color: #ffffff;
  text-transform: capitalize;
  text-align: center;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

button:hover {
  color: #533dea;
  border-color: #533dea;
  background-color: #ffffff;
}

select,
textarea,
input[type=text],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=color] {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #dddddd;
  color: #1e1e1e;
  padding: 13px 14px;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

textarea:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=time]:focus,
input[type=week]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=tel]:focus,
input[type=color]:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #533dea;
}

textarea:-moz-placeholder,
textarea::-moz-placeholder,
input:-moz-placeholder,
input::-moz-placeholder {
  color: #c5c5c5;
  opacity: 1;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

input:-ms-input-placeholder {
  color: #c5c5c5;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  color: #c5c5c5;
  opacity: 1;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

textarea,
input[type=text],
input[type=submit],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=color],
.uneditable-input,
.dropdown-menu,
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  -webkit-appearance: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

input[type=radio] {
  width: 16px;
  height: 16px;
  border-color: #717171;
  cursor: pointer;
  font-size: 16px;
  accent-color: #533dea;
}

.tf-spacing-4 {
  height: 4px;
}

.tf-spacing-8 {
  height: 8px;
}

.tf-spacing-12 {
  height: 12px;
}

.tf-spacing-16 {
  height: 16px;
}

.tf-spacing-20 {
  height: 20px;
}

.tf-spacing-24 {
  height: 24px;
}

.tf-spacing-40 {
  height: 40px;
}

.tf-spacing-60 {
  height: 60px;
}

.tf-spacing-80 {
  height: 80px;
}

.group-input {
  margin-bottom: 24px;
}
.group-input:last-child {
  margin-bottom: 0px;
}

.tf-switch-check {
  position: relative;
  width: 35px;
  height: 20px;
  -webkit-appearance: none;
  background: #c5c5c5;
  border-radius: 10px;
  transition: 0.5s;
  margin-right: 0;
}
.tf-switch-check::before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  background: #ffffff;
  transition: 0.5s;
}
.tf-switch-check:checked:checked[type=checkbox] {
  background: #533dea;
  transition: 0.5s;
}
.tf-switch-check:checked:checked[type=checkbox]::before {
  background: #ffffff;
  left: 16px;
}

.tf-checkbox {
  position: relative;
  border: 1px solid #dddddd;
  border-radius: 6px;
  background: none;
  cursor: pointer;
  outline: 0;
  height: 24px;
  width: 24px;
  -webkit-appearance: none;
  opacity: 0.5;
}
.tf-checkbox:hover {
  opacity: 1;
}
.tf-checkbox:checked {
  background-color: #000;
  opacity: 1;
}
.tf-checkbox::before {
  content: "";
  position: absolute;
  right: 50%;
  top: 50%;
  width: 6px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  margin: -1px -1px 0 -1px;
  transform: rotate(45deg) translate(-50%, -50%);
  z-index: 2;
}

.tf-checkbox.smail {
  width: 22px;
  height: 22px;
}

.tf-container {
  max-width: 1320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.tf-btn {
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.tf-btn.accent {
  background-color: #533dea;
  border: 1px solid #533dea;
  color: #ffffff;
}
.tf-btn.accent:hover {
  color: #533dea;
  border-color: #533dea;
  background-color: #ffffff;
}

.tf-btn.outline {
  color: #533dea;
  border: 1px solid #533dea;
  background-color: #ffffff;
}
.tf-btn.outline:hover {
  background-color: #533dea;
  border: 1px solid #533dea;
  color: #ffffff;
}

.tf-btn.light {
  color: #999999;
  background-color: #dfdfdf;
}
.tf-btn.light:hover {
  background-color: #533dea;
  color: #ffffff;
}

.tf-btn.large {
  padding: 12px 40px;
}

.tf-btn.medium {
  padding: 10px 40px;
}

.tf-btn.small {
  padding: 7px 40px;
}

.line {
  display: block;
  width: 134px;
  height: 5px;
  border-radius: 100px;
  background: #dddddd;
  margin: 0 auto;
}

.tf-form .tf-title {
  margin-top: 20px;
  margin-bottom: 28px;
}
.tf-form .group-input {
  position: relative;
}
.tf-form .group-input label {
  position: absolute;
  top: -11px;
  background-color: white;
  padding: 0px 5px;
  left: 12px;
}
.tf-form .auth-pass-input .password-addon {
  position: absolute;
  right: 30px;
  top: 14px;
}
.tf-form .auth-forgot-password {
  margin-top: -12px;
  color: #717171;
  font-size: 12px;
  line-height: 20px;
}
.tf-form .btn-large {
  margin-top: 28px;
}

.tf-form-verify .tf-title {
  font-size: 16px;
  line-height: 24px;
}
.tf-form-verify .group-input-verify {
  margin: 0px 0px 12px;
  justify-content: center;
}
.tf-form-verify .group-input-verify .input-verify {
  display: block;
  width: 58px;
  height: 58px;
  margin-right: 12px;
  text-align: center;
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
}
.tf-form-verify .group-input-verify .input-verify:last-child {
  margin-right: 0;
}
.tf-form-verify .group-input-verify .input-verify:focus {
  border-color: #1e1e1e;
}
.tf-form-verify .text-send-code {
  margin-bottom: 204px;
}
.tf-form-verify .text-send-code p {
  font-size: 14px;
  line-height: 22px;
  display: flex;
  justify-content: center;
}

.tf-balance-box {
  padding: 12px 0px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 8px 15px 0px rgba(24, 25, 27, 0.05);
}
.tf-balance-box .balance {
  padding: 0px 16px 8px;
  border-bottom: 1px solid #ededed;
}
.tf-balance-box .balance .br-right {
  border-right: 1px solid #ededed;
}
.tf-balance-box .balance .inner-right {
  text-align: end;
}
.tf-balance-box .balance .inner-right h3 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.tf-balance-box .balance .inner-right h3 .icon-gift-box {
  display: inline-flex;
  margin-right: 4px;
}
.tf-balance-box .balance .inner-right h3 span {
  margin-left: 2px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  color: #717171;
}
.tf-balance-box .wallet-footer {
  margin-top: 12px;
}
.tf-balance-box .wallet-footer .wallet-cart-item {
  width: 25%;
}
.tf-balance-box .wallet-footer .wallet-cart-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tf-balance-box .wallet-footer .wallet-cart-item a .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
.tf-balance-box .wallet-footer .wallet-cart-item a .icon-my-qr {
  font-size: 33px;
}

.icon-history {
  border: 1px solid #717171;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  display: inline-flex;
}
.icon-history::after {
  content: "\eae7";
  left: -6px;
  position: absolute;
  top: -5px;
  font-size: 29px;
  color: #717171;
}

.icon-scan-qr-code {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #1e1e1e;
  border-radius: 50%;
}
.icon-scan-qr-code::before {
  content: "\ea7d";
  color: #ffffff;
  font-size: 20px;
}

.tf-navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px 8px;
}
.tf-navigation-bar li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  font-size: 10px;
  line-height: 16px;
}
.tf-navigation-bar li.active a {
  color: #1e1e1e;
}
.tf-navigation-bar li.active a .icon-history {
  border-color: #533dea;
  background: #533dea;
}
.tf-navigation-bar li.active a .icon-history::after {
  color: #ffffff;
}
.tf-navigation-bar li.active a i {
  color: #533dea;
}

.bottom-navigation-bar .line {
  margin: 4px auto 0px;
}

.tf-search-bar {
  position: relative;
}
.tf-search-bar .search-field {
  padding-left: 40px;
  background: #f5f5f5;
  border-color: #ededed;
}
.tf-search-bar .search-field:focus {
  border-color: #ededed;
}
.tf-search-bar .search-field:valid ~ .icon-clear {
  display: block;
}
.tf-search-bar .st1 {
  padding-left: 14px;
  background: none;
  border-color: #dddddd;
}
.tf-search-bar .st1:focus {
  border-color: #533dea;
}
.tf-search-bar .icon-search {
  position: absolute;
  font-size: 25px;
  left: 9px;
  top: 10px;
  color: #1e1e1e;
}
.tf-search-bar .icon-clear {
  display: none;
  position: absolute;
  top: 14px;
  font-size: 18px;
  right: 14px;
  color: #c5c5c5;
}

.tf-statusbar {
  background: #ffffff;
  padding: 12px 16px 8px;
  margin: 0px -16px;
  border-bottom: 1px solid #ededed;
  position: relative;
}
.tf-statusbar .back-btn {
  left: 16px;
  position: absolute;
}
.tf-statusbar .back-btn.st1 {
  position: unset;
}
.tf-statusbar .icon-qrcode4 {
  font-size: 24px;
  color: #1e1e1e;
}

.icon-notification1 {
  color: #1e1e1e;
  position: relative;
}
.icon-notification1::after {
  position: absolute;
  content: "2";
  font-size: 6px;
  color: #ffffff;
  width: 8px;
  text-align: center;
  height: 8px;
  background: #ea3434;
  border-radius: 50%;
  right: 3px;
  top: 3px;
}

.tf-trading-history .inner-left {
  gap: 8px;
}
.tf-trading-history .inner-left img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.thumb-trading-history {
  width: 40px;
  height: 40px;
  background: rgba(75, 40, 225, 0.1);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.thumb-trading-history .icon-electricity-1 {
  color: #533dea;
  font-size: 24px;
}

.group-trading-history .tf-trading-history {
  margin-bottom: 28px;
}

.box-custom-select .default-select {
  display: none;
}
.box-custom-select #box-select {
  padding-left: 0px;
}
.box-custom-select #box-select img,
.box-custom-select .btn-select img {
  width: 28px;
  height: 28px;
}
.box-custom-select #box-select li {
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  color: #1e1e1e;
  padding: 13px 14px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.box-custom-select #box-select li:hover {
  background-color: #f8f8f8;
}
.box-custom-select #box-select li span,
.box-custom-select .btn-select li span {
  margin-left: 16px;
}
.box-custom-select .banks-select {
  display: none;
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin-top: 2px;
}
.box-custom-select .open {
  display: show !important;
}
.box-custom-select .btn-select {
  width: 100%;
}
.box-custom-select .lang-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #dddddd;
  color: #1e1e1e;
  padding: 8px 14px;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.group-input .credit-card {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 4px;
  top: 12px;
  right: 14px;
  color: #533dea;
  font-size: 10px;
  line-height: 16px;
}
.group-input .credit-card i {
  font-size: 16px;
}
.group-input .icon-info {
  position: absolute;
  right: 12px;
  top: 14px;
  font-size: 20px;
  color: #c5c5c5;
}

.group-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
}
.group-checkbox .tf-checkbox.st1 {
  width: 16px;
  height: 16px;
}
.group-checkbox .tf-checkbox.st1:checked {
  background-color: #533dea;
}
.group-checkbox .tf-checkbox.st1::before {
  right: 42%;
  top: 52%;
  width: 5px;
  height: 7px;
}

.tf-service-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}
.tf-service-item .logo {
  width: 44px;
  height: 44px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tf-service-item .logo img {
  width: 24px;
  height: 24px;
}

.tf-card-block {
  padding: 10px 16px;
  border-radius: 8px;
  box-shadow: 0px 8px 15px 0px rgba(24, 25, 27, 0.05);
  background: #ffffff;
}
.tf-card-block .inner {
  gap: 16px;
}
.tf-card-block .inner .logo {
  font-size: 28px;
  margin: 0px 8px;
  color: #533dea;
}
.tf-card-block .logo-img {
  width: 48px;
  height: 32px;
}
.tf-panel .panel-box {
  position: fixed;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  background: #ffffff;
  will-change: transform;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.tf-panel .panel-up {
  width: 100%;
  bottom: 0;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-tranform: translateY(100%);
}
.tf-panel .panel-left {
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  overflow: auto;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-tranform: translateX(-100%);
}
.tf-panel .panel-right {
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  overflow: auto;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-tranform: translateX(100%);
}
.tf-panel .panel_overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: rgba(2, 22, 56, 0.3);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.tf-panel.panel-open .panel-box,
.tf-panel.panel-open .panel_overlay {
  opacity: 1;
  visibility: visible;
}
.tf-panel.panel-open .panel-up {
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
  -moz-tranform: translateY(0%);
}
.tf-panel.panel-open .panel-left,
.tf-panel.panel-open .panel-right {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-tranform: translateX(0%);
}

.wrap-content-panel .heading {
  padding: 17px 0px;
  border-bottom: 1px solid #dddddd;
}
.wrap-content-panel .main-topup {
  padding: 16px 0px;
}
.wrap-content-panel .main-topup h3 {
  padding-bottom: 12px;
}
.wrap-content-panel .main-topup .tf-card-block {
  padding: 16px;
  background-color: #ededed;
  margin-bottom: 8px;
}
.wrap-content-panel .main-topup .tf-card-block .icon-right {
  font-size: 18px;
  color: #1e1e1e;
}
.wrap-content-panel .main-topup .info {
  margin-bottom: 8px;
}
.wrap-content-panel .main-topup .info li {
  padding: 12px 0px;
  border-bottom: 1px solid #ededed;
}
.wrap-content-panel .main-topup .tf-btn {
  width: auto;
}

.list-view {
  padding: 12px;
  box-shadow: 0px 8px 15px 0px rgba(24, 25, 27, 0.05);
  background: #ffffff;
  border-radius: 8px;
}
.list-view li {
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #717171;
}
.list-view li:not(:last-child) {
  border-bottom: 1px solid #ededed;
  margin-bottom: 8px;
}
.list-view li span {
  color: #1e1e1e;
  font-weight: 600;
}

.circle-box {
  display: inline-block;
  border-radius: 50%;
}
.circle-box.xl {
  width: 138px;
  height: 138px;
}
.circle-box.lg {
  width: 82px;
  height: 82px;
  border: 10px solid #ffffff;
  box-shadow: 0px 4px 20px 0px rgba(158, 158, 158, 0.25);
}
.circle-box.md {
  width: 24px;
  height: 24px;
  border: 3px solid #ffffff;
  box-shadow: 0px 4px 20px 0px rgba(158, 158, 158, 0.25);
}
.circle-box.sm {
  width: 8px;
  height: 8px;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 20px 0px rgba(158, 158, 158, 0.25);
}
.circle-box.bg-circle {
  background-color: #44b461;
}
.circle-box.check-icon {
  position: relative;
}
.circle-box.check-icon::after {
  position: absolute;
  border: 4px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  top: 22px;
  left: 22px;
  height: 13px;
  transform: rotate(-45deg);
  width: 22px;
  border-radius: 3px;
}

.bank-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  gap: 4px;
  border-radius: 8px;
  padding: 12px 0px;
  cursor: pointer;
  position: relative;
  box-shadow: 0px 8px 15px 0px rgba(24, 25, 27, 0.05);
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  color: #1e1e1e;
}
.bank-list .logo-bank {
  width: 32px;
  height: 32px;
}

.app-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.list-money {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;
}
.list-money .tag-money {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 12px 32px;
  background: #f5f5f5;
  border-radius: 8px;
}

.tf-card-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.tf-card-list .logo {
  width: 48px;
  height: 32px;
}
.tf-card-list .info {
  flex: 1;
}
.tf-card-list.large {
  padding: 16px;
}
.tf-card-list.medium {
  padding: 8px 16px;
}
.tf-card-list.out-line {
  border: 1px solid #533dea;
  border-radius: 8px;
}
.tf-card-list.bt-line {
  border-bottom: 1px solid #ededed;
}

.tf-checkbox.circle-check {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #717171;
}
.tf-checkbox.circle-check:checked {
  background-color: #44b461;
  border: 1px solid #44b461;
}
.tf-checkbox.circle-check::before {
  right: 40%;
  top: 46%;
  width: 6px;
  height: 10px;
  margin: 0;
  border-width: 0px 3px 3px 0px;
}

.auth-line {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.auth-line::before {
  content: "";
  position: absolute;
  left: 0;
  height: 1px;
  width: 40%;
  border: 1px solid #ededed;
}
.auth-line::after {
  content: "";
  position: absolute;
  right: 0;
  width: 40%;
  border: 1px solid #ededed;
}

.tf-atm-card {
  background: url(../images/banner/banner-card.png);
  padding: 19px 19px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  border-radius: 16px;
}
.tf-atm-card .heading {
  display: flex;
  justify-content: space-between;
}
.tf-atm-card .heading a i {
  color: #ffffff;
  font-size: 16px;
}
.tf-atm-card h3 {
  padding: 42px 0px 12px;
}
.tf-atm-card .bottom {
  background: #1e1e1e;
  margin: 0px -19px;
  padding: 4px 19px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.tf-atm-card .bottom span {
  font-size: 10px;
  line-height: 16px;
}
.tf-atm-card .bottom a {
  color: #ffffff;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}

/* animation */
.ani1 {
  -webkit-animation: ani1 10s infinite ease-in-out alternate;
  animation: ani1 10s infinite ease-in-out alternate;
}

.ani2 {
  -webkit-animation: ani2 10s infinite ease-in-out alternate;
  animation: ani2 10s infinite ease-in-out alternate;
}

.ani3 {
  -webkit-animation: ani3 4s infinite ease-in-out alternate;
  animation: ani3 4s infinite ease-in-out alternate;
}

.ani4 {
  -webkit-animation: ani4 7s infinite ease-in-out alternate;
  animation: ani4 7s infinite ease-in-out alternate;
}

.ani5 {
  -webkit-animation: ani5 7s infinite ease-in-out alternate;
  animation: ani5 7s infinite ease-in-out alternate;
}

.ani6 {
  -webkit-animation: ani6 7s infinite ease-in-out alternate;
  animation: ani6 7s infinite ease-in-out alternate;
}

.ani7 {
  -webkit-animation: ani7 7s infinite ease-in-out alternate;
  animation: ani7 7s infinite ease-in-out alternate;
}

.ani8 {
  -webkit-animation: ani8 2000ms infinite ease-in-out alternate;
  animation: ani8 2000ms infinite ease-in-out alternate;
}

@keyframes ani1 {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(-73px, 1px) rotate(-36deg);
    transform: translate(-73px, 1px) rotate(-36deg);
  }
  40% {
    -webkit-transform: translate(-141px, -72px) rotate(-72deg);
    transform: translate(-141px, -72px) rotate(-72deg);
  }
  60% {
    -webkit-transform: translate(-83px, -122px) rotate(-108deg);
    transform: translate(-83px, -122px) rotate(-108deg);
  }
  80% {
    -webkit-transform: translate(40px, -72px) rotate(-144deg);
    transform: translate(40px, -72px) rotate(-144deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
}
@keyframes ani2 {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(20px, 1px) rotate(36deg);
    transform: translate(20px, 1px) rotate(36deg);
  }
  40% {
    -webkit-transform: translate(100px, 72px) rotate(72deg);
    transform: translate(100px, 72px) rotate(72deg);
  }
  60% {
    -webkit-transform: translate(83px, 122px) rotate(108deg);
    transform: translate(83px, 122px) rotate(108deg);
  }
  80% {
    -webkit-transform: translate(40px, 72px) rotate(144deg);
    transform: translate(40px, 72px) rotate(144deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
}
@keyframes ani3 {
  0% {
    transform: scale(0.8, 0.8);
  }
  50% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0.8, 0.8);
  }
}
@keyframes ani4 {
  0%, 100% {
    transform: translateX(0);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  50% {
    transform: translateX(-20px);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}
@keyframes ani5 {
  0%, 100% {
    transform: translateX(0);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  50% {
    transform: translateX(20px);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}
@keyframes ani6 {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(-13px, 1px) rotate(-6deg);
    transform: translate(-13px, 1px) rotate(-6deg);
  }
  40% {
    -webkit-transform: translate(-41px, -22px) rotate(-22deg);
    transform: translate(-41px, -22px) rotate(-22deg);
  }
  60% {
    -webkit-transform: translate(-33px, -22px) rotate(-50deg);
    transform: translate(-33px, -22px) rotate(-50deg);
  }
  80% {
    -webkit-transform: translate(40px, -72px) rotate(-50deg);
    transform: translate(40px, -72px) rotate(-50deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
}
@keyframes ani7 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes ani8 {
  from {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-7px);
    -moz-transform: translateY(-7px);
    -o-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    transform: translateY(-7px);
  }
}
.boarding-section {
  background: #1e1e1e;
  min-height: 394px;
  margin: 0 -45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 300px;
  border-bottom-right-radius: 300px;
}
.boarding-section .images img {
  width: 307px;
  height: 265px;
}

.boarding-section.st2 {
  position: relative;
}
.boarding-section.st2 .images {
  position: relative;
  z-index: 1;
  margin-left: 90px;
}
.boarding-section.st2::after {
  content: "";
  position: absolute;
  height: 215px;
  bottom: 0;
  width: 100%;
  background-color: #533dea;
  border-radius: 50%;
}

.boarding-section.st3 {
  position: relative;
}
.boarding-section.st3 .images {
  position: relative;
  z-index: 1;
}
.boarding-section.st3 .images img {
  width: 375px;
  height: 320px;
}
.boarding-section.st3::after {
  content: "";
  position: absolute;
  height: 215px;
  bottom: 0;
  width: 100%;
  background-color: #533dea;
  border-radius: 50%;
  transform: skew(-14deg, 8deg);
}

.boarding-content {
  padding: 40px 0px;
}
.boarding-content .boarding-title {
  text-align: center;
  padding-bottom: 91px;
}
.boarding-content .boarding-title h2 {
  margin-bottom: 16px;
}
.boarding-content .boarding-title p {
  padding: 0 30px;
}

.boarding-footer {
  padding-bottom: 24px;
}
.boarding-footer p {
  text-align: center;
  padding: 0px 50px 11px;
}
.boarding-footer p a {
  font-weight: 700;
}

.login-section .tf-form-auth {
  margin-bottom: 71px;
}
.login-section .socials-login li {
  padding: 13px 0px;
  border: 1px solid #dddddd;
  border-radius: 12px;
}
.login-section .socials-login li:not(:last-child) {
  margin-bottom: 12px;
}
.login-section .socials-login li a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.login-section .socials-login li a img {
  width: 20px;
  height: 20px;
}

.verify-account-section .verify-title {
  text-align: center;
  margin: 32px 0px 34px;
}
.verify-account-section .verify-title p {
  padding: 0px 35px;
}

.app-header {
  background: url(../images/banner/banner-home.png);
  padding: 46px 0px 84px;
  margin: 0px -14px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  border-bottom-right-radius: 80px;
  border-bottom-left-radius: 80px;
}
.app-header .tf-topbar {
  margin: 0px 14px;
}
.app-header .tf-topbar .user-info p {
  font-size: 10px;
  line-height: 16px;
}
.app-header .tf-topbar .icon-notification1 {
  color: #ffffff;
  font-size: 24px;
}
.app-header.st1 {
  padding: 42px 0px 96px;
}

.tf-topbar {
  position: relative;
}
.tf-topbar .back-btn {
  position: absolute;
  left: 0;
}
.tf-topbar .user-info {
  gap: 8px;
}
.tf-topbar .user-info img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.card-secton {
  position: relative;
  margin-top: -63px;
}

.bottom-navigation-bar {
  padding-bottom: 16px;
  position: fixed;
  z-index: 1000;
  background: #ffffff;
  width: 100%;
  bottom: 0;
  box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.07);
}
.bottom-navigation-bar.st1 {
  background: #f5f5f5;
}

.recipient-tes .recipient-box {
  width: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  margin-left: -6px;
  cursor: pointer;
}
.recipient-tes .recipient-box img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.banner-tes img {
  width: 290px;
  height: 162px;
  border-radius: 8px;
}

.header-transfer {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.wrap-transfer {
  background: #ffffff;
}

.action-sheet-transfer {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 0px;
  border-bottom: 1px solid #ededed;
}
.action-sheet-transfer .icon {
  width: 36px;
  height: 36px;
  background: rgba(83, 61, 234, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.action-sheet-transfer .icon i {
  font-size: 20px;
  color: #533dea;
}
.action-sheet-transfer p {
  font-size: 10px;
  line-height: 16px;
}

.wrap-transfer-friends .wrap-fixed {
  background: #ffffff;
  z-index: 20;
  position: fixed;
  top: 45px;
  left: 16px;
  right: 16px;
  padding: 12px 0px;
}
.wrap-transfer-friends .menu-tabs {
  position: fixed;
  z-index: 30;
  top: 103px;
  left: 16px;
  right: 16px;
  background: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 20px;
}
.wrap-transfer-friends .menu-tabs .nav-tab {
  border-bottom: 1px solid #ededed;
  padding: 8px 0px;
  text-align: center;
  cursor: pointer;
  color: #717171;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}
.wrap-transfer-friends .menu-tabs .nav-tab.active {
  color: #533dea;
  border-bottom: 2px solid #533dea;
}
.wrap-transfer-friends .content-tab {
  padding-top: 168px;
}

.recipient-list {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 12px;
}
.recipient-list .inner {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
  border-bottom: 1px solid #ededed;
  padding-bottom: 12px;
}
.recipient-list .inner .user {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}
.recipient-list .alphabet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 12px;
}

.transfer-section .tf-balance-box {
  padding: 16px;
}
.transfer-section .tf-balance-box .inner-left {
  gap: 8px;
}
.transfer-section .tf-balance-box .inner-left img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.transfer-section .tf-balance-box .icon-down {
  font-size: 16px;
}
.transfer-section .transfer-amount {
  padding: 16px 16px 0px;
}
.transfer-section .transfer-amount .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 12px;
  border-bottom: 1px dashed #dddddd;
}
.transfer-section .transfer-amount .icon-group-dollar {
  font-size: 40px;
  margin-bottom: 12px;
}
.transfer-section .transfer-amount .bottom {
  padding: 12px 0px;
}

.input-money .money {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-top: 12px;
}
.input-money .money .tag-money {
  width: 107px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  background: #f5f5f5;
  border-radius: 95px;
}

.transfer-content .tf-form .tf-btn {
  margin-top: 73px;
}

.transfer-card {
  margin-top: 10px;
}
.transfer-card .tf-card-block:not(:last-child) {
  margin-bottom: 8px;
}
.transfer-card .bottom-navigation-bar {
  background: #f5f5f5;
  z-index: 20;
}

.transfer-confirm .tf-card-block {
  margin-top: 4px;
  padding: 0;
  box-shadow: none;
  gap: 16px;
}
.transfer-confirm .line {
  width: 100%;
  height: 1px;
  border: 1px solid #ededed;
  margin: 10px 0px;
}
.transfer-confirm .bottom .tf-card-block {
  gap: 12px;
}
.transfer-confirm .bottom .tf-card-block img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.transfer-list {
  padding-bottom: 16px;
}
.transfer-list .list-view {
  margin-bottom: 128px;
}

.wrap-success {
  background: #533dea;
  position: relative;
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrap-success .line-through {
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  overflow: hidden;
}
.wrap-success .line-through::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  transition: all 0.7s;
  animation: rainbow 2s infinite;
}
.wrap-success .through-1 {
  left: 23%;
  top: 5%;
  transform: rotate(131deg);
  width: 486px;
  height: 34px;
}
.wrap-success .through-2 {
  left: 27%;
  top: 0%;
  transform: rotate(131deg);
  width: 107px;
  height: 34px;
}
.wrap-success .through-3 {
  left: -12%;
  top: 10%;
  transform: rotate(131deg);
  width: 113px;
  height: 34px;
}
.wrap-success .through-4 {
  left: -15%;
  bottom: 9%;
  transform: rotate(131deg);
  width: 130px;
  height: 34px;
}
.wrap-success .through-5 {
  left: 27%;
  bottom: 19%;
  transform: rotate(131deg);
  width: 168px;
  height: 34px;
}
.wrap-success .through-6 {
  left: 48%;
  bottom: 16%;
  transform: rotate(131deg);
  width: 360px;
  height: 34px;
}
.wrap-success .icon-1 {
  position: absolute;
  top: -10%;
  left: 50%;
}
.wrap-success .icon-1 .check-icon {
  transform: translateX(-50%);
}
.wrap-success .icon-2 {
  position: absolute;
  right: 28%;
  top: -2%;
}
.wrap-success .icon-3 {
  position: absolute;
  left: 22%;
  position: absolute;
  top: 5%;
}
.wrap-success .icon-4 {
  position: absolute;
  position: absolute;
  right: 22%;
  top: 4%;
}

.success_box {
  background: #ffffff;
  padding: 80px 16px 16px;
  border-radius: 8px;
  position: relative;
  width: 100%;
  margin: 0px 16px;
  z-index: 1;
}
.success_box .content {
  text-align: center;
  margin-bottom: 40px;
}
.success_box .content .top p {
  font-size: 14px;
  line-height: 22px;
}
.success_box .content .inner p {
  font-size: 16px;
  padding-bottom: 8px;
}
.success_box .content .bottom p {
  font-size: 14px;
  line-height: 22px;
}
.success_box .content .bottom p:first-child {
  padding-bottom: 4px;
}

@keyframes rainbow {
  0% {
    left: 0%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
.bank-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 12px;
}

.bank-list-transfer {
  background: #ffffff;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0px 8px 15px 0px rgba(24, 25, 27, 0.05);
}
.bank-list-transfer li {
  padding-bottom: 8px;
}
.bank-list-transfer li:not(:last-child) {
  border-bottom: 1px solid #ededed;
  margin-bottom: 8px;
}
.bank-list-transfer li a {
  display: flex;
  gap: 16px;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}
.bank-list-transfer li a img {
  width: 28px;
  height: 28px;
}

.content-by-bank {
  margin-bottom: 20px;
}
.content-by-bank h3 a {
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #533dea;
  display: flex;
  align-items: center;
}
.content-by-bank h3 a i {
  font-size: 18px;
}
.content-by-bank .group-btn {
  padding-top: 183px;
}

.topup-content .tf-balance-box {
  padding: 16px;
  box-shadow: none;
}
.topup-content .bottom-navigation-bar {
  z-index: 20;
}

.amount-money h3 {
  padding-bottom: 12px;
}

.content-card .auth-line {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin: 20px 0px;
}
.content-card .auth-line::before, .content-card .auth-line::after {
  width: 17%;
}
.content-card .box-card:not(:last-child) {
  margin-bottom: 8px;
}
.content-card .box-card .circle-check {
  width: 16px;
  height: 16px;
}
.content-card .box-card .circle-check::before {
  right: 37%;
  top: 44%;
  width: 6px;
  height: 9px;
}
.content-card .tf-btn {
  text-transform: none;
  border: 2px dashed #c5c5c5;
}

.tf-panel .wrap-panel-clear {
  width: auto;
  left: 16px;
  right: 16px;
  bottom: 32px;
  border-radius: unset;
  background: none;
}

.wrap-panel-clear .heading {
  background: #ffffff;
  border-radius: 13px;
  margin-bottom: 8px;
}
.wrap-panel-clear .heading p {
  padding: 12px 16px;
  text-align: center;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  border-bottom: 1px solid #ededed;
}
.wrap-panel-clear .heading a {
  padding: 18px 16px;
  display: block;
  text-align: center;
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
  color: #ea3434;
}
.wrap-panel-clear .bottom {
  background: #ffffff;
  border-radius: 13px;
  margin-bottom: 8px;
  padding: 18px 16px;
}
.wrap-panel-clear .bottom a {
  display: block;
  text-align: center;
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
  color: #533dea;
}

.list-card-info {
  border: 1px solid #ededed;
  padding: 0px 16px;
  border-radius: 8px;
}
.list-card-info li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0px 14px;
}
.list-card-info li span {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  color: #1e1e1e;
}
.list-card-info li:not(:last-child) {
  border-bottom: 1px solid #ededed;
}

.box-card-advanced {
  padding-bottom: 108px;
}
.box-card-advanced .list-card-info {
  padding: 0;
  border: none;
}
.box-card-advanced .list-card-info li {
  color: #1e1e1e;
  font-size: 14px;
  line-height: 22px;
  border-radius: 8px;
  padding: 12px 16px;
  border: 1px solid #ededed;
}
.box-card-advanced .list-card-info li:not(:last-child) {
  margin-bottom: 8px;
}
.box-card-advanced .list-card-info li i {
  font-size: 14px;
}

/*# sourceMappingURL=styles.css.map */
